.bigger {
  transform: scale(1);
  transition: all 0.2s ease-in-out;
  margin: 1.5rem 0;
  cursor: pointer;
  transform: scale(0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bigger:hover {
  transform: scale(0.95);
}
.text {
  color: #6c757d;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 0 3rem;
}
.title {
  text-align: center;
}
.image {
  max-width: 128px;
}
.container {
  width: 33%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
